article p {
  font-size: 1.1em;
  margin-top: 1.3em;
}

label {
  font-size: 1.1em;
  display: block;
  margin-top: 1em;
}

input {
  font-size: 1.1em;
  display: block;
  width: 100%;
  height: 2.5em;
  border: 1px solid #dddddd;
  border-radius: 0.2em;
}

button {
  margin-top: 1.3em;
  width: 100%;
  height: 2.5em;
  color: #fff;
  background-color: #0f7562;
  border-radius: 0.2em;
}

button:hover {
  background-color: #dddddd;
}

button:active {
  color: #000;
  background-color: #dddddd;
}
